# build roots
build/
build-debug/
build-release/

# compilation database
src/compile_commands.json

# YCM internals
src/.clangd/

# clang cache
.cache

# Qt Creator project settings
CMakeLists.txt.user
